.grid-card-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
}

.grid-item {
  position:relative;
  // background: gray;
  border-radius: 25px;
  border: 1px solid black;
  width: 350px;
  height: 550px;
  // padding: 10px;
  font-size: 18px;
  // text-align: center;
  box-shadow: 5px 5px #888888;
  
}


.grid-item-body ul {
  // outline: auto;
  margin: 0
}

.icon {
  margin-right: 10px;
}

ul {
  justify-content: left; 
}


.button {
  background-color: #888888; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  // margin-left:auto;
  border-radius: 10px;
  
  
}

.grid-item-footer {
  position: absolute;
  text-align: center;
  bottom:10px; 
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.grid-item-header {
  text-align: center;
  background-color: #888888;
  border: 1px solid #888888;
  border-radius: 25px 25px 0px 0px;
  // height: %;
}


@media only screen and (max-width: 70em) {
  #grid-item {
  padding: 0 0 30px 0;
  font-weight: normal;
  font-family: ‘Ventilla Script’ Trebuchet MS, verdana;
  font-size:6em;
}
  }