.logo {
    height: 550px;
    border: 2px solid red;
    margin-left: 200px;
    margin-right: 200px;
    text-alingment: center;
}
.logo-container{
    display: grid;
    place-items:center;
}

.logo-container h1 {
    font-size: 3rem;
}

body{
    /* background: linear-gradient(#e66465, #9198e5); */
    height: 100vh;
}