.logo {
    height: 550px;
    border: 2px solid red;
    margin-left: 200px;
    margin-right: 200px;
    
}
.logo-container{
    display: grid;
    place-items:center;
    text-alingment: center;
    margin: 1vh 1vh 1vh 1vh;
}

.logo-container h1 {
    font-size: 3rem;
}


  main h5 {
    text-align:center;
  }

body{
    /* background: linear-gradient(#e66465, #9198e5); */
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: column; */
    /* margin: 1vh 1vh 1vh 1vh; */
}
/* main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    
  } */
  
  article {
    flex-grow: 1;
    margin: 1vh 1vh 1vh 1vh;
    /* background-color: lightgreen; */
  }
  
  
  body    { margin: 0; }


 */
ul {
    padding: 1.25rem;
    text-align: center;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.25rem 0.75rem;
}
ul a {
    color: #fff;
    text-decoration: none;
}
ul a:hover {
    text-decoration: underline;
}

/* footer p{
    color:white;
} */

.dev-env{
    /* border: 2px solid red; */
    /* position: fixed; */
    margin-top: 10vh;
    top: 50%; left: 0;
    transform: translate(calc(50vw - 50%));
    font-size: 2rem;
    color: red;
    text-align:center;
    tranform: rotate(+30deg)
  }